body {
	background-color: #692E40 !important;
}

.container {
	width: 72%; /* 970px(Alvo) */
}

.loja {
	margin-top: 8.2474%; /* 80(Alvo) / 970(Contexto) 8.2474%(Resultado) */
}

	.loja .novidades {
		float: left;
		border: 2px solid #CCC !important; 
		border-radius: 2px;
	}
	
	.loja .promocoes {
		float: right;
		border: 2px solid #CCC !important;
		border-radius: 2px;
	}

	.secao {
		margin: 1.0309% 0; /* 10(Alvo) / 970(Contexto) 1.0309%(Resultado) */
		padding: 1.0309%;  /* 10(Alvo) / 970(Contexto) 1.0309%(Resultado) */
		width: 49.4888%; /* 464(Alvo) / 970(Contexto) 47.8350%(Resultado) ou 49.4888% */
	}

		.secao h2 {
			color: #F5F5F5;
			font-size: 1.5em; /* 24(Alvo) / 16(Contexto) 1.5em(Resultado) */
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 2.1551%; /* 10(Alvo) / 464(Contexto) 2.1551%(Resultado) */
		}
		
		.secao h2:before {
			content: '\2766';
			padding-right: 1.1%; /* 5(Alvo) / 464(Contexto) 1.0775%(Resultado) */
			opacity: 0.4;
		}
		
		.secao li {
			display: inline-block;
			vertical-align: top;
			width: 31.7%; /* 140(Alvo) / 464(Contexto) 30.1724%(Resultado) */
			margin: 0.4311%; /* 2(Alvo) / 464(Contexto) 0.4311%(Resultado) */
			padding-bottom: 2.1551%; /* 10(Alvo) / 464(Contexto) 2.1551%(Resultado) */
		}
		
		.secao li:HOVER {
			background-color: rgba(255, 255, 255, 0.8);
			box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5);
			-webkit-transform: scale(1.2) rotate(-5deg);
			transform: scale(1.2) rotate(-5deg);
			-webkit-transition: 0.7s ease-in;
			transition: 0.7s ease-in;
		}
		
		.secao li:nth-child(2n):HOVER {
			-webkit-transform: scale(1.2) rotate(5deg);
			transform: scale(1.2) rotate(5deg);
			-webkit-transition: 0.7s ease-in;
			transition: 0.7s ease-in;
		}
		
		.secao figcaption {
			background-color: rgba(217, 40, 96, 0.86);
			color: #F5F5F5;
			height: 60px; 
		}
		
		.secao figure img {
			border-bottom: 5px solid #CCC !important;
		}
		
		.secao a {
			color: #333;
			font-size: 1em; /* 14(Alvo) / 16(Contexto) 1em(Resultado) */
			text-align: center;
			text-decoration: none !important;
		}
		
.produto {
	color: #f5f5f5;
	line-height: 1.3;
	margin-top: 2em;
	position: relative;
	padding-left: 48%;
	font-size: 1.2em;
}

	.produto h1 {
		font-size: 1.8em;
		font-weight: bold;
	}
	
	.produto p {
		font-size: 1.2em;
		font-style: italic;
		margin-bottom: 1em;
	}
	
	.produto legend {
		display: block;
		font: bold 0.9em/2.5 arial;
		text-transform: uppercase;
		color: #f5f5f5;
	}
	
	fieldset {
		display: table-column;
		
		display: inline-block;
		vertical-align: top !important;
		margin: 1em 0 !important;
		min-width: 200px;
		width: 45%;
	}
	
	.cores {
		position: static;
		padding: 0;
	}
	
	.cores input:checked+label:after {
		border: 6px solid rgba(0, 0, 0, 0.3);
	}

	.cores input[type=radio] {
		display: none;
	}
	
	.cores input:not(:checked ) + label img {
		display: none;
	}
	
	label [for=verde]:AFTER {
		left: 0;
	}
	
	label [for=rosa]:AFTER {
		left: 60px;
	}
	
	label [for=azul]:AFTER {
		left: 120px;
	}
	
	.cores label[for=verde]:HOVER:AFTER {
		border: 6px solid #83DD89;
	}
	
	.cores label[for=rosa]:HOVER:AFTER {
		border: 6px solid #DD80AC;
	}
	
	.cores label[for=azul]:HOVER:AFTER {
		border: 6px solid #888DD5;
	}

	.cores label:after {
		margin-right: 10px;
		
		border: 6px solid rgba(0, 0, 0, 0.1);
		content: '';
		display: block;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		position: static;
		float: left;
		top: 30px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		transition: 1s;
	}
	
	.cores label img {
		max-width: 35px;
		min-height: 100%;
		max-width: 100%;
		
		border: 2px solid #ccc;
		display: block;
		position: absolute;
		top: 0;
		left: 0
	}
	
	.tamanhos input {
		float: right;
		width: 77%;
		padding: 15px 5px 0px;	
	}
	
	.tamanhos output {
		display: inline-block;
		height: 44px;
		width: 44px;
		line-height: 40px;
		text-align: center;
		border: 3px solid #E5E5E5;
		border-radius: 6px;
		color: #f5f5f5;	
	}
	
	.detalhes {
		padding: 2em 0 0;
		color: #f5f5f5;
	}
	
	.detalhes h2 {
		font-size: 1.5em;
		line-height: 2;
	}
	
	.detalhes p {
		margin: 1em 0;
		font-size: 1em;
		line-height: 1.5;
		max-width: 44%;
		text-align: justify;
	}
	
	.detalhes table {
		width: 44%;
	}
	
	table {
		border-spacing: 0.2em;
		border-collapse: separate;
		
		border: 2px dashed #ccc;
	}
	
	thead {
		background: #ECF0F1;
		color: #95A5A6;
	}
	
	thead th {
		font-weight: bold;
		padding: 0.3em 1em;
		text-align: center;
	}
	
	tr:nth-child(2n) {
		background: #ECF0F1;
		color: #95A5A6;
	}
	
	td {
		padding: 0.3em;
		text-align: center;
	}
	
	td:first-child {
		font-style: italic;
	}
	
	.comprar {
		background: #f5f5f5;
		border: none;
		color: #333;
		font-size: 1.4em;
		text-transform: uppercase;
		box-shadow: 0 1px 3px #777;
		padding: 0.5em 1em;
		margin: 1em 0;
		display: block;
	}
	
	
	